Flask
Flask-Session
psycopg2-binary
SQLAlchemy
asgiref
backports.entry-points-selectable
bidict
cachelib
certifi
charset-normalizer
click
distlib
filelock
greenlet
gunicorn
idna
itsdangerous
Jinja2
MarkupSafe
pip
platformdirs
protobuf
psycopg2-binary
python-engineio
requests
setuptools
six
SQLAlchemy
sqlparse
urllib3
virtualenv
Werkzeug
python-dotenv