Flask
Flask-Session
psycopg2-binary
SQLAlchemy
asgiref
backports.entry-points-selectable 
bidict                           
cachelib                          
certifi                           
charset-normalizer                
click                             
distlib                                                       
filelock                          
Flask-MySQLdb                                                             
greenlet                          
gunicorn                          
idna                              
itsdangerous                      
Jinja2                            
MarkupSafe                        
mysql-connector-python            
mysqlclient                       
Pillow                            
pip                               
platformdirs                      
protobuf                          
psycopg2-binary                   
python-engineio                                    
pytz                              
requests                          
setuptools                        
six                               
SQLAlchemy                        
sqlparse                          
urllib3                           
virtualenv                        
Werkzeug     
pandas
numpy
scikit-learn 