{% extends 'layout.html'%}
{% block body %}
<div class="container container-car">
    <div class="container-controls-car">
        <table class="table">
            <!-- On rows -->
            <thead>
                <tr>
                    <td class="table-primary">Item</td>
                    <td class="table-primary">Precio</td>
                    <td class="table-primary">Cantidad</td>
                    <td class="table-primary">Talla</td>
                    <td class="table-primary">Color</td>
                    <td class="table-primary">Foto</td>
                    <td class="table-primary">Eliminar</td>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td class="table-primary">{{item.0}}</td>
                    <td class="table-primary">C${{item.1}}</td>
                    <td class="table-primary">{{item.2}}</td>
                    <td class="table-primary">{{item.3}}</td>
                    <td class="table-primary">{{item.4}}</td>
                    <td class="table-primary"><a href="{{item.5}}" class="btn btn-dark"
                            style="background-color: black; color: blanchedalmond; font-size: 14px;">Ver Foto</a></td>
                    <td class="table-primary"><a href="/deleteToCar/{{item.6}}" class="btn btn-danger"
                            style="background-color: rgb(187, 21, 21); color: blanchedalmond; font-size: 14px;">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    <form action="/paymeth"></form>
    <h1>Datos de envio:</h1>
    <form action="/addAddres" method="post" name="form-addres" id="form-addres">
        <label for="city">Departamento:</label>
        <select name="city" class="form-control-field" style="width: 70%;" id="city">
            <option value="Managua">Managua</option>
            <option value="Masaya">Masaya</option>
            <option value="Matagalpa">Matagalpa</option>
            <option value="Madriz">Madriz</option>
            <option value="Nueva Segovia">Nueva Segovia</option>
            <option value="Rio San Juan">Rio San Juan</option>
            <option value="Rivas">Rivas</option>
            <option value="Esteli">Esteli</option>
            <option value="Granada">Granada</option>
            <option value="Jinotega">Jinotega</option>
            <option value="Leon">Leon</option>
            <option value="Chontales">Chontales</option>
            <option value="Carazo">Chinandega</option>
            <option value="Boaco">Boaco</option>
            <option value="Atlantico Norte">Atlantico Norte</option>
            <option value="Atlantico Sur">Atlantico Sur</option>
        </select>

        <label for="addres">Direccion 1:</label>
        <input name="addres" id="addres" style="width: 70%;" class="form-control-field" type="text"
            placeholder="direccion" required>
        <label for="addres">Direccion 2:</label>
        <input name="addres2" id="addres2" style="width: 70%;" class="form-control-field" type="text"
            placeholder="#casa, barrio, comunidad" required>
        <br>
        <button class="btn btn-dark" style="background-color: black; color: aliceblue; border: 0; margin-top: 5px;"
            type="submit">Guardar Dirección</button>
    </form>
    <h1>Direcciones Guardadas:</h1>
    <table class="table">
        <!-- On rows -->
        <thead>
            <tr>
                <td class="table-primary">Departamento</td>
                <td class="table-primary">Direccion</td>

            </tr>
        </thead>
        <tbody>
            {% for direccion in direcciones %}
            <tr>
                <td class="table-primary">{{direccion.1}}</td>
                <td class="table-primary">{{direccion.0}}</td>

                <td class="table-primary">
                    <div class="form-check">
                        <input name="dir" class="form-radio-input" type="radio" value="{{direccion.2}}"
                            id="{{direccion.2}}">
                        <label class="form-radio-label" for="flexCheckDefault">
                            Seleccionar
                        </label>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
    <button id="btnPay" class="btn btn-dark"
        style="background-color: rgb(30, 197, 8); color:white; border:0; font-size: 25px;">Ir a Pagar<i
            class="zmdi zmdi-long-arrow-right" style="margin-left: 5px;"></i></button>
</div>
<script src="/static/js/Car.js"></script>
{% endblock %}