{% extends 'layout.html'%}
{% block body %}

<!-- Banner -->
<div class="banner banner-cover">
    <div class="banner-container">

        <h1 class="title-cover">
            <img class="img-logo"
                src="https://res.cloudinary.com/dzlbg8ni6/image/upload/v1639170003/1639108673441_sxs4vh.png">
        </h1>
        <a class="btn btn-default" href="/items">Descubre la nueva colección</a>
    </div>
    <div class="slider-frame">
        <ul>
            <!--usar etiqueta picture-->
            <li>
                <picture>
                    <source srcset="../static/img/back2-main.jpg" media="(min-width: 1024px)">
                    <source srcset="../static/img/back2-main.jpg" media="(min-width: 768px)">
                    <source srcset="../static/img/back-mob.jpg" media="(min-width: 377px)">
                    <img src="../static/img/back-mob.jpg" alt="slide"> <!-- imagen principal -->
                </picture>
            </li>
            <li>
                <picture>
                    <source srcset="../static/img/back-main.jpg" media="(min-width: 1024px)">
                    <source srcset="../static/img/back-main.jpg" media="(min-width: 768px)">
                    <source srcset="../static/img/back2-mob.jpg" media="(min-width: 377px)">
                    <img src="../static/img/back2-mob.jpg" alt="slide"> <!-- imagen principal -->
                </picture>
            </li>
            <li>
                <picture>
                    <source srcset="../static/img/back3-main.jpg" media="(min-width: 1024px)">
                    <source srcset="../static/img/back3-main.jpg" media="(min-width: 768px)">
                    <source srcset="../static/img/back3-mob.jpg" media="(min-width: 377px)">
                    <img src="../static/img/back3-mob.jpg" alt="slide"> <!-- imagen principal -->
                </picture>
            </li>
            <li>
                <picture>
                    <source srcset="../static/img/back4-main.jpg" media="(min-width: 1024px)">
                    <source srcset="../static/img/back4-main.jpg" media="(min-width: 768px)">
                    <source srcset="../static/img/back4-mob.jpg" media="(min-width: 377px)">
                    <img src="../static/img/back4-mob.jpg" alt="slide"> <!-- imagen principal -->
                </picture>
            </li>
        </ul>
    </div>
</div>

<!-- Barra de navegacion secundaria -->
<div class="container">
    <nav class="nav">
        <a class="nav-item active has-text-weight-semibold" href="#">Popular</a>
        <a class="nav-item has-text-weight-semibold" href="#">Novedades</a>
        <a class="nav-item has-text-weight-semibold" href="#">Más vendidos</a>
        <a class="nav-item has-text-weight-semibold" href="#">Ofertas</a>
        <a class="nav-item has-text-weight-semibold" href="#">Muy pronto</a>
    </nav>
</div>
<!-- Sección de fotografías -->
<div class="container">
    <div class="columns is-multiline">
        <div class="column is-full-mobile">
            <div class="columns is-centered is-mobile is-multiline">
                <!-- 1 Sección de fotografías -->
                <div class="column is-half column-full">
                    <div class="card">
                        <span class="price">C$580</span>
                        <img src="/static/img/item-1.png" alt="">
                        <div class="card-info">
                            <h4 class="has-text-black has-text-centered has-text-weight-bold"> Sudadera Jocker joaquin
                                Phoenix $580</h4>
                            <p class="has-text-centered">Sudadera casual suave y comoda del Jocker.
                                100%
                                cotton.</p>
                            <div class="card-buttons">
                                <a href="#" class="btn btn--mini-rounded"><i class="zmdi zmdi-shopping-cart"></i></a>
                                <a href="#" class="btn btn--mini-rounded"><i class="zmdi zmdi-favorite-outline"></i></a>
                                <a href="/items/36" class="btn btn--mini-rounded"><i class="zmdi zmdi-eye"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column column-full is-half">
                    <div class="card">
                        <span class="price">C$270</span>
                        <img src="/static/img/item-2.png" alt="">
                        <div class="card-info">
                            <h4 class="has-text-black has-text-centered has-text-weight-bold">Camiseta de Dama Anime
                                C$270</h4>
                            <p class="has-text-centered">Camiseta Casual de anime para dama-
                                100%
                                cotton.</p>
                            <div class="card-buttons">
                                <a href="#" class="btn btn--mini-rounded"><i class="zmdi zmdi-shopping-cart"></i></a>
                                <a href="#" class="btn btn--mini-rounded"><i class="zmdi zmdi-favorite-outline"></i></a>
                                <a href="/items/5" class="btn btn--mini-rounded"><i class="zmdi zmdi-eye"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column is-full">
                    <div class="card">
                        <span style="color:black" class="price">C$580</span>

                        <img src="/static/img/item-3.png" alt="">
                        <div class="card-info">
                            <h4 class="has-text-black has-text-centered has-text-weight-bold">Sueter Rick and Morty
                                $580 </h4>
                            <p class="has-text-centered">Sueter de Rick and Morty
                                100%
                                cotton.</p>
                            <div class="card-buttons">
                                <a href="#" class="btn btn--mini-rounded"><i class="zmdi zmdi-shopping-cart"></i></a>
                                <a href="#" class="btn btn--mini-rounded"><i class="zmdi zmdi-favorite-outline"></i></a>
                                <a href="/items/7" class="btn btn--mini-rounded"><i class="zmdi zmdi-eye"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Segunda sección de fotografías -->
        <div class="column is-half is-full-mobile">
            <div class="columns is-mobile is-multiline">
                <div class="column is-full">
                    <div class="card">
                        <span style="color:black" class="price"><strike>C$300</strike> C$240</span>
                        <img src="/static/img/item-4.png" alt="">
                        <div class="card-info">
                            <h4 class="has-text-black has-text-centered has-text-weight-bold"> Camiseta de Naruto
                                Shippuden C$240 </h4>
                            <p class="has-text-centered">Camiseta Anime Naruto Shippuden.
                                100%
                                cotton.</p>
                            <div class="card-buttons">
                                <a href="#" class="btn btn--mini-rounded"><i class="zmdi zmdi-shopping-cart"></i></a>
                                <a href="#" class="btn btn--mini-rounded"><i class="zmdi zmdi-favorite-outline"></i></a>
                                <a href="/items/1" class="btn btn--mini-rounded"><i class="zmdi zmdi-eye"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column column-full is-half">
                    <div class="card">
                        <span class="price">C$270</span>
                        <img src="/static/img/item-5.png" alt="">
                        <div class="card-info">
                            <h4 class="has-text-black has-text-centered has-text-weight-bold"> Crop Top Amarillo Planeta
                                C$270 </h4>
                            <p class="has-text-centered">Croptop Casual para dama color amarillo
                                100%
                                cotton.</p>
                            <div class="card-buttons">
                                <a href="#" class="btn btn--mini-rounded"><i class="zmdi zmdi-shopping-cart"></i></a>
                                <a href="#" class="btn btn--mini-rounded"><i class="zmdi zmdi-favorite-outline"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column column-full is-half">
                    <div class="card">
                        <span style="color:black" class="price">C$240</span>
                        <img src="/static/img/item-6.png" alt="">
                        <div class="card-info">
                            <h4 class="has-text-black has-text-centered has-text-weight-bold"> Croptop Cereza Fire C$240
                            </h4>
                            <p class="has-text-centered">Croptop Blanco Cereza fire para dama.
                                100%
                                cotton.</p>
                            <div class="card-buttons">
                                <a href="#" class="btn btn--mini-rounded"><i class="zmdi zmdi-shopping-cart"></i></a>
                                <a href="#" class="btn btn--mini-rounded"><i class="zmdi zmdi-favorite-outline"></i></a>
                                <a href="/items/6" class="btn btn--mini-rounded"><i class="zmdi zmdi-eye"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container container-full">
    <div class="columns is-centered is-multiline">
        <div class="column is-full">
            <div class="separator"></div>
        </div>
        <div class="column is-half-tablet is-one-third-desktop column-half">
            <div class="card card-second">
                <img class="card-second-image" src="/static/img/SeccionCabelleroF.png" alt="">
                <div class="card-second-body --text-right">
                    <h1 class="has-text-right is-size-4 has-text-weight-semibold-bold">Catálogo de Caballero</h1>
                    <p class="has-text-right">La moda masculina es sutil. Se trata de un buen estilo y un buen gusto.
                    </p>
                    <div>
                        <a href="/items/clasification/1" class="btn btn-default is-size-7">Ver ahora</a>
                    </div>
                    </p>


                </div>
            </div>
        </div>
        <div class="column is-half-tablet is-one-third-desktop column-half">
            <div class="card card-second">
                <img class="card-second-image" src="/static/img/Women.png" alt="">
                <div class="card-second-body --text-right">
                    <h1 class="has-text-right is-size-4 has-text-weight-semibold-bold">Catálogo de Dama</h1>
                    <p class="has-text-right">Cambiá tu estilo, Cambiá tu vida No dejes para mañana, lo que puedes
                        comprar hoy.</p>
                    <div>
                        <a href="/items/clasification/2" class="btn btn-default is-size-7">Ver ahora</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="column is-half-tablet is-one-third-desktop column-half">
            <div class="card card-second">
                <img class="card-second-image" src="/static/img/Kids.png" alt="">
                <div class="card-second-body --text-right">
                    <h1 class="has-text-right is-size-4 has-text-weight-semibold-bold">Catálogo de Niños</h1>
                    <p class="has-text-right">Lo tavieso no lo cambiará, <br> pero su estilo en ropa si será ejemplar.
                    </p>
                    <div>
                        <a href="/items/clasification/3" class="btn btn-default is-size-7">Ver ahora</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}