<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='bulma.min.css')}}">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link rel="shortcut icon" type="image/x-icon"
        href="https://res.cloudinary.com/dzlbg8ni6/image/upload/c_scale,h_4000,w_4000/v1639171464/1639107585224_uikadn.png">
    <title>Personalized Clothing</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">


</head>

<body>
    <!-- Barra de navegación -->
    <header>
        <nav class="navbar">
            <!---->
            <header class="nabvar-mobile is-size-5-mobile">
                <a href="#" id="btn-mobile" style="position:absolute;">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="width:30px;">
                        <title>menu</title>
                        <path d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
                    </svg>
                </a>
                <div class="navbar-mobile-link has-text-black" style="width:100%; display:flex; justify-content:center;
                align-items: center;">
                    <a class="is-uppercase has-text-weight-bold has-text-black" href="/">
                        Personalized Clothing
                    </a>
                </div>

            </header>
            <nav class=" nav-menu" id="mySidenav">
                <a class="is-hidden-mobile brand is-uppercase has-text-weight-bold has-text-dark" style="width: 40%;"
                    href="/">Personalized
                    Clothing</a>
                <ul class="nav-menu-ul">
                    <li class="nav-menu-item" id="men">
                        <a class="nav-menu-link link-submenu active" href="#">Hombre <i
                                class="zmdi zmdi-chevron-down"></i></a>
                        <div class="container-sub-menu">
                            <ul class="sub-menu-ul">
                                <li class="nav-menu-item ">
                                    <a class="nav-menu-link" href="#">
                                        <strong>Frio</strong>
                                    </a>
                                    <ul class="sub-menu-ul">
                                        <li class="nav-menu-item"><a class="nav-menu-link"
                                                href="/items/3/1">Sudaderas</a></li>
                                        <li class="nav-menu-item"><a class="nav-menu-link" href="/items/4/1">Sueters</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="sub-menu-ul">
                                <li class="nav-menu-item ">
                                    <a class="nav-menu-link" href="#">
                                        <strong>Casual</strong>
                                    </a>
                                    <ul class="sub-menu-ul">
                                        <li class="nav-menu-item"><a class="nav-menu-link" href="#">Joggers</a>
                                        </li>
                                        <li class="nav-menu-item"><a class="nav-menu-link"
                                                href="/items/1/1">Camisetas</a></li>
                                    </ul>
                                </li>
                            </ul>

                            <div class="ads is-hidden-touch">
                                <h1 class="ads-h1">Ofertas de Verano</h1>
                                <h2 class="ads-h2">Desde el 15% de descuento</h2>
                            </div>
                        </div>
                    </li>
                    <li class="nav-menu-item" id="women">
                        <a style="color:black;" href="#" class="nav-menu-link link-submenu">Mujer <i
                                class="zmdi zmdi-chevron-down"></i> </a>
                        <div class="container-sub-menu">

                            <ul class="sub-menu-ul">
                                <li class="nav-menu-item ">
                                    <a class="nav-menu-link" href="#">
                                        <strong>Frio</strong>
                                    </a>
                                    <ul class="sub-menu-ul">
                                        <li class="nav-menu-item"><a class="nav-menu-link"
                                                href="/items/2/2">Sudaderas</a></li>
                                        <li class="nav-menu-item"><a class="nav-menu-link" href="/items/4/2">Sueters</a>
                                        </li>
                                        <li class="nav-menu-item"><a class="nav-menu-link" href="/items/3/2">Crops</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="sub-menu-ul">
                                <li class="nav-menu-item ">
                                    <a class="nav-menu-link" href="#">
                                        <strong>Casual</strong>
                                        <!--i class="zmdi zmdi-chevron-down "></i-->
                                    </a>
                                    <ul class="sub-menu-ul">
                                        <li class="nav-menu-item"><a class="nav-menu-link" href="#">Joggers</a>
                                        </li>
                                        <li class="nav-menu-item"><a class="nav-menu-link"
                                                href="/items/1/2">Camisetas</a></li>
                                        <li class="nav-menu-item"><a class="nav-menu-link" href="/items/4/2">Crop
                                                tops</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="ads is-hidden-touch">
                                <h1 class="ads-h1">Ofertas de Verano</h1>
                                <h2 class="ads-h2">Desde el 15% de descuento</h2>
                            </div>
                        </div>
                    </li>
                    <li class="nav-menu-item"><a style="color:black;" href="/personalizar" class="nav-menu-link">
                            <img style="margin-top:1px; width: 18px;"
                                src="https://res.cloudinary.com/dzlbg8ni6/image/upload/v1639114295/paintbrush_83820_rycmmh.png" />
                            <span>Personalizar</span></a></li>
                    <li class="navbar-top-item">
                        <a href="/car" style="color:black;" class="nav-menu-link">
                            <i style="margin-right:6px; margin-top:5px; font-size: 19px;"
                                class="zmdi zmdi-shopping-cart"></i>
                            <span>Carrito</span>
                        </a>
                    </li>
                    {% if username != 'null' %}
                    <li class="navbar-top-item">
                        <a href="/buys" style="color:black;" class="nav-menu-link">
                            <i class="zmdi zmdi-shopping-basket"
                                style="color:black; font-size: 19px; margin-top: 2px; margin-right: 3px;"></i>
                            <span>Compras</span>
                            <!-- <i class="zmdi zmdi-chevron-down"></i> -->
                        </a>
                    </li>

                    {% endif %}
                    {% if session.role_user == 1 %}
                    <li class="navbar-top-item">
                        <a style="color:black;" href="/adminOrders" class="nav-menu-link">
                            <i class="zmdi zmdi-shield-security"
                                style="color:black; font-size: 19px; margin-top: 2px; margin-right: 3px;"></i>
                            <span>Admin</span>
                        </a>
                    </li>
                    {% endif %}

                    {% if username != 'null' %}
                    <!--OPCION USUARIOS-->
                    <li class="nav-menu-item" id="userSettings">
                        <a class="nav-menu-link link-submenu" href="#">
                            <!--Nombreusuarios-->
                            <i class="zmdi zmdi-account-circle"
                                style="color:black; margin-right:6px; margin-top:-2px; font-size: 30px"></i>
                        </a>
                        <div class="container-sub-menu-user">
                            <ul class="sub-menu-ul">

                                <li class="nav-menu-item"><a style="color:black; font-weight: 600;"
                                        class="nav-menu-link">
                                        <span
                                            style="margin-left: 20px; margin-right: 8px; text-transform: uppercase;">{{username}}</span>
                                        <div
                                            style="margin-top:5px; width:8px; height:8px; background-color: rgb(71, 235, 71); border-radius:50%;">
                                        </div>
                                    </a>

                                </li>
                                <li class="nav-menu-item">
                                    <a style="color:black;" href="/userSettings" class="nav-menu-link">
                                        <span style="margin-left:20px;">Configuracion</span>
                                    </a>
                                </li>
                                <li class="nav-menu-item">
                                    <a style="color:black;" href="/logout" class=" nav-menu-link">
                                        <span style="color:red; margin-left:20px;">Logout</span>
                                    </a>
                                </li>


                            </ul>

                        </div>
                    </li>
                    {% else %}
                    <li class="navbar-top-item">
                        <a href="/login" class="nav-menu-link active">
                            Iniciar sesion | Registrarme
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </nav>
    </header>

    {% block body %}
    {% endblock %}
    {% block buysList %}
    {% endblock %}

    <div class="container container-full">
        <div class="columns is-centered is-multiline">
            <div class="column is-full">
                <div class="separator"></div>
            </div>
            <div class="column is-half-tablet is-one-third-desktop column-half">
                <div class="card card-second">
                    <img class="card-second-image" src="/static/img/SeccionCabelleroF.png" alt="">
                    <div class="card-second-body --text-right">
                        <h1 class="has-text-right is-size-4 has-text-weight-semibold-bold">Catálogo de Caballero</h1>
                        <p class="has-text-right">La moda masculina es sutil. Se trata de un buen estilo y un buen
                            gusto.
                        </p>
                        <div>
                            <a href="/items/clasification/1" class="btn btn-default is-size-7">Ver ahora</a>
                        </div>
                        </p>


                    </div>
                </div>
            </div>
            <div class="column is-half-tablet is-one-third-desktop column-half">
                <div class="card card-second">
                    <img class="card-second-image" src="/static/img/Women.png" alt="">
                    <div class="card-second-body --text-right">
                        <h1 class="has-text-right is-size-4 has-text-weight-semibold-bold">Catálogo de Dama</h1>
                        <p class="has-text-right">Cambiá tu estilo, Cambiá tu vida No dejes para mañana, lo que puedes
                            comprar hoy.</p>
                        <div>
                            <a href="/items/clasification/2" class="btn btn-default is-size-7">Ver ahora</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="column is-half-tablet is-one-third-desktop column-half">
                <div class="card card-second">
                    <img class="card-second-image" src="/static/img/Kids.png" alt="">
                    <div class="card-second-body --text-right">
                        <h1 class="has-text-right is-size-4 has-text-weight-semibold-bold">Catálogo de Niños</h1>
                        <p class="has-text-right">Lo tavieso no lo cambiará, <br> pero su estilo en ropa si será
                            ejemplar.
                        </p>
                        <div>
                            <a href="/items/clasification/3" class="btn btn-default is-size-7">Ver ahora</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Modal anuncio-->
    <!--button id="openModal">Mostrar Anuncio</button-->

    <aside id="modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p align="center">!BIENVENIDO A <span style="color:skuyblue;">PERSONALIZED CLOTHING!</span></p>
            <img src="{{url_for('static', filename='img/ads-main.jpg')}}" alt="Imagen del anuncio">
            <p align="center">Hás tu propia prenda personalizada en seccion <pan style="color:green;">Personalizar</pan>
            </p>
        </div>
    </aside>


    <script src=" //cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="{{url_for('static', filename='js/index.js')}}" type="text/javascript"></script>
</body>
<footer class="footer">
    <div class="container">
        <div class="columns is-multiline">
            <div class="column">
                <ul class="footer-ul">
                    <li class="footer-item">
                        <h3 class="has-text-weight-bold">Información</h3>
                    </li>
                    <li class="footer-item"><a class="footer-link" href="#">La marca</a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Local stores</a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Servicios </a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Privacidad y cookies</a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Mapa del sitio</a></li>
                </ul>
            </div>

            <div class="column">
                <ul class="footer-ul">
                    <li class="footer-item">
                        <h3 class="has-text-weight-bold">Porqué comprar</h3>
                    </li>
                    <li class="footer-item"><a class="footer-link" href="#">Envios y retornos</a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Envios seguros</a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Testimonios </a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Award waining</a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Etival trading</a></li>
                </ul>
            </div>
            <div class="column">
                <ul class="footer-ul">
                    <li class="footer-item">
                        <h3 class="has-text-weight-bold">Tu cuenta</h3>
                    </li>
                    <li class="footer-item"><a class="footer-link" href="#">Iniciar sesión</a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Registro</a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Ver carrito </a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Ver catálogo</a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Track an order</a></li>
                </ul>
            </div>
            <div class="column">
                <ul class="footer-ul">
                    <li class="footer-item">
                        <h3 class="has-text-weight-bold">Catalogo</h3>
                    </li>
                    <li class="footer-item"><a class="footer-link" href="#">Catálogo para hombres</a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Catálogo para mujeres</a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Ver tu Catalogo </a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Privacidad y cookies</a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Borrar tu catalogo</a></li>
                </ul>
            </div>
            <div class="column">

                <ul class="footer-ul">
                    <li class="footer-item">
                        <h3 class="has-text-weight-bold">Datos de contacto</h3>
                    </li>
                    <li class="footer-item"><a class="footer-link" href="#">Head</a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Catálogo para mujeres</a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Ver tu Catalogo </a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Privacidad y cookies</a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Borrar tu catalogo</a></li>
                </ul>
            </div>
            <div class="column is-full">
                <div class="footer-socials">
                    <a class="footer-solcials-link" href="https://www.facebook.com/PersonalizedCloth1ng"
                        target="_blank"><i class="zmdi zmdi-facebook"></i></a>
                    <a class="footer-solcials-link" href="#"><i class="zmdi zmdi-twitter"></i></a>
                    <a class="footer-solcials-link" href="https://www.instagram.com/personalizedclothing_/"
                        target="_blank"><i class="zmdi zmdi-instagram"></i></a>
                    <a class="footer-solcials-link" href="#"><i class="zmdi zmdi-pinterest"></i></a>
                </div>
            </div>

        </div>

    </div>

</footer>
<div class="footer-bar-top">
    <div class="container">
        <a class="footer-bar-top-links" href="#">© 2023 Copyright: Personalized Clothing</a>
    </div>
</div>

</html>