{% extends 'layout.html'%}
{% block body %}
<!-- Banner -->
<div class="banner banner-second">
    <div class="banner-container ">
        <h1 style="margin-top: 110px;" class="title-cover"><img
                style="width: 320px; height: auto; position:relative; filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));"
                src="https://res.cloudinary.com/dzlbg8ni6/image/upload/v1639170003/1639108673441_sxs4vh.png"></h1>
    </div>
</div>


<div class="container">
    <div class="wrapper">
        {% for item in items %}
        <div class="is-mobile is-multiline">
            <div class="column is-half-mobile is-one-quarter-desktop" style="width: 100%;">
                <div class="card">
                    <span style="color:black" class="price">C${{item.3}}</span>
                    <img src="{{item.2}}" alt="">
                    <div class="card-info">
                        <h4 class="has-text-black has-text-centered has-text-weight-bold"> {{item.0}} </h4>
                        <div class="module line-clamp">
                            <p class="has-text-centered">{{item.1}}</p>
                        </div>
                        <div class="card-buttons">
                            <a href="#" class="btn btn--mini-rounded"><i class="zmdi zmdi-shopping-cart"></i></a>
                            <a href="#" class="btn btn--mini-rounded"><i class="zmdi zmdi-favorite-outline"></i></a>
                            <a href="/items/{{item.4}}" class="btn btn--mini-rounded"><i class="zmdi zmdi-eye"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
<script>
    function mensaje(idItem) {
        Swal.fire({
            title: '¿Desea agregar este articulo al carrito?',
            showDenyButton: false,
            showCancelButton: true,
            confirmButtonText: 'Si'
        }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {

                Swal.fire({
                    title: 'Articulo añadido al carrito',
                    icon: 'success',
                    confirmButtonText: 'Ok'
                }).then((result) => {
                    document.getElementById('addToCarForm' + idItem).submit();
                })

            } else if (result.isDenied) {
                Swal.fire('Articulo no agregado', '', 'info')
            }
        })


    }
</script>

{% endblock %}