{% extends 'layout.html'%}
{% block body %}
<link rel="stylesheet" href="/static/userSettings.css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

<!--USER SETTINGS-->

<section class="seccion-perfil-usuario">
    <div class="perfil-usuario-header">
        <div class="perfil-usuario-portada">
            <div class="perfil-usuario-avatar">
                <img src="https://res.cloudinary.com/dzlbg8ni6/image/upload/v1701298654/bthvjf72h2d46qk4nafd.png"
                    alt="img-avatar">
                <button type="button" class="boton-avatar">
                    <input class="input-file" type="file" id="file" name="file">
                    <label for="file"> <i class="far fa-image"></i></label>

                </button>
            </div>
        </div>
    </div>
    <div class="perfil-usuario-body">
        <div class="perfil-usuario-bio">
            <h3 class="titulo">Mayner Fernando Schoneich Romero</h3>
        </div>
        <div class="perfil-usuario-footer">
            {% for user in users %}
            <ul class="lista-datos">
                <li><input name="username" required class="form-control-field" type="text" placeholder="Username"
                        value="{{user.1}}" disabled></li>
                <li><input name="password" required class="form-control-field" type="password" placeholder="Contraseña"
                        value="{{user.2}}">
                </li>
            </ul>

            <ul class="lista-datos">
                <li><input name="email" required class="form-control-field" type="text" placeholder="Correo@example.com"
                        value="{{user.3}}"></li>
                <li><input name="birthday" required class="form-control-field" type="text"
                        placeholder="Fecha Nacimiento" disabled></li>
                <li><input name="phone" required class="form-control-field" type="text" placeholder="Celular"></li>
                <li><input name="city" required class="form-control-field" type="text" placeholder="Ciudad"></li>
            </ul>
            {% endfor %}
            <ul>
                <a class="btn btn-dark">Editar Perfil</a>
                <a class="btn btn-dark"
                    style="background-color: black; color: blanchedalmond; font-size: 14px;">Guardar</a>
            </ul>
        </div>
        <div class="redes-sociales">
            <a href="" class="boton-redes facebook fab fa-facebook-f"><i class="icon-facebook"></i></a>
            <a href="" class="boton-redes twitter fab fa-twitter"><i class="icon-twitter"></i></a>
            <a href="" class="boton-redes instagram fab fa-instagram"><i class="icon-instagram"></i></a>
        </div>
    </div>
</section>

{% endblock %}