body, html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image:url(https://res.cloudinary.com/dzlbg8ni6/image/upload/v1639122857/banner-large_sd5xqg.jpg);
    height: 100%;
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* No Scrollbar */
    overflow: hidden;
}

.form-box {
    width: 300px;
    padding: 40px;
    background: #e7e7e7;
    text-align: center;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
}

.form-title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
}

.form-box input[type="text"], .form-box input[type="password"], .form-box button[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3742fa;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.form-box input[type="text"]:focus, .form-box input[type="password"]:focus {
    width: 280px;
    border-color: #ffffff;
}

.form-box button[type="submit"] {
    border: 0;
    background: #5352ed;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3742fa;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.form-box button[type="submit"]:hover {
    background: none;
}