{% extends 'adminlayout.html'%}
{% block body %}
<div class="container" style="margin-top: 100px;">
    <table class="table">
        <!-- On rows -->
        <thead>
            <tr>
                <td class="table-primary">User</td>
                <td class="table-primary">Metodo de pago</td>
                <td class="table-primary">SubTotal</td>
                <td class="table-primary">Costo Envio</td>
                <td class="table-primary">Total</td>
                <td class="table-primary">Order detalle</td>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td class="table-primary">{{order.0}}</td>
                <td class="table-primary">{{order.1}}</td>
                <td class="table-primary">C${{order.2}}</td>
                <td class="table-primary">C${{order.3}}</td>
                <td class="table-primary">C${{order.4}}</td>
                <td class="table-primary"><a href="/viewOder/{{order.0}}" class="btn btn-dark" style="background-color:black; width: 100px; font-size: 12px;">Ver</a></td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</div>

{% endblock %}