{% extends 'adminlayout.html'%}
{% block body %}
<div class="container" style="margin-top: 100px;">
    <table class="table table-striped">
        <!-- On rows -->
        <tr>
            <td class="table-primary">#</td>
            <td class="table-primary">name</td>
            <td class="table-primary">lastname</td>
            <td class="table-primary">order</td>
        </tr>
        <tr>
            <td class="table-primary">1</td>
            <td class="table-primary">name</td>
            <td class="table-primary">lastname</td>
            <td class="table-primary">order</td>
        </tr>
        <tr>
            <td class="table-primary">2</td>
            <td class="table-primary">name</td>
            <td class="table-primary">lastname</td>
            <td class="table-primary">order</td>
        </tr>
        <tr>
            <td class="table-primary">3</td>
            <td class="table-primary">name</td>
            <td class="table-primary">lastname</td>
            <td class="table-primary">order</td>
        </tr>
        

        

    </table>
</div>

{% endblock %}