{% extends 'layout.html'%}
{% block body %}
<div class="container" style="margin-top: 100px;">
    <h5>Usuario:{{user_order}}</h5>
    <table class="table">
        <!-- On rows -->
        <thead>
            <tr>
                <td class="table-primary">#</td>
                <td class="table-primary">item</td>
                <td class="table-primary">precio</td>
                <td class="table-primary">Talla</td>
                <td class="table-primary">Color</td>
                <td class="table-primary">Foto</td>              
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td class="table-primary">{{item.0}}</td>
                <td class="table-primary">{{item.1}}</td>
                <td class="table-primary">C${{item.2}}</td>
                <td class="table-primary">{{item.3}}</td>
                <td class="table-primary"><a href="{{item.4}}" class="btn btn-dark">Ver Foto</a></td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
    <h5>Sub Total: {{subtotal}}</h5>
    <h5>CostoEnvio:</h5>
    <h5>Total: {{total}}</h5>
</div>
{% endblock %}