{% extends 'layout.html'%}
{% block body %}

<!-- Banner -->
<div class="banner banner-cover">
    <div class="banner-container ">
        <h1 style="margin-top: 260px;" class="title-cover"><img
                style="width: 500px; height: auto; position:relative; filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));"
                src="https://res.cloudinary.com/dzlbg8ni6/image/upload/v1639170003/1639108673441_sxs4vh.png"></h1>
        <a class="btn btn-default" href="/items">Comprar colección para Hombres</a>
    </div>
</div>

<!-- Barra de navegacion secundaria -->
<div class="container">
    <nav class="nav">
        <a class="nav-item active has-text-weight-semibold" href="#">Popular</a>
        <a class="nav-item has-text-weight-semibold" href="#">Novedades</a>
        <a class="nav-item has-text-weight-semibold" href="#">Más vendidos</a>
        <a class="nav-item has-text-weight-semibold" href="#">Ofertas</a>
        <a class="nav-item has-text-weight-semibold" href="#">Muy pronto</a>
    </nav>
</div>
<!-- Sección de fotografías -->
<div class="container">
    <div class="columns is-multiline">
        <div class="column is-full-mobile">
            <div class="columns is-centered is-mobile is-multiline">
                <!-- 1 Sección de fotografías -->
                <div class="column is-half column-full">
                    <div class="card">
                        <span class="price">C$580</span>
                        <img src="/static/img/item-1.png" alt="">
                        <div class="card-info">
                            <h4 class="has-text-black has-text-centered has-text-weight-bold"> Sudadera Jocker joaquin
                                Phoenix $580</h4>
                            <p class="has-text-centered">Sudadera casual suave y comoda del Jocker.
                                100%
                                cotton.</p>
                            <div class="card-buttons">
                                <a href="#" class="btn btn--mini-rounded"><i class="zmdi zmdi-shopping-cart"></i></a>
                                <a href="#" class="btn btn--mini-rounded"><i class="zmdi zmdi-favorite-outline"></i></a>
                                <a href="/items/8" class="btn btn--mini-rounded"><i class="zmdi zmdi-eye"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column column-full is-half">
                    <div class="card">
                        <span class="price">C$270</span>
                        <img src="/static/img/item-2.png" alt="">
                        <div class="card-info">
                            <h4 class="has-text-black has-text-centered has-text-weight-bold">Camiseta de Dama Anime
                                C$270</h4>
                            <p class="has-text-centered">Camiseta Casual de anime para dama-
                                100%
                                cotton.</p>
                            <div class="card-buttons">
                                <a href="#" class="btn btn--mini-rounded"><i class="zmdi zmdi-shopping-cart"></i></a>
                                <a href="#" class="btn btn--mini-rounded"><i class="zmdi zmdi-favorite-outline"></i></a>
                                <a href="/items/5" class="btn btn--mini-rounded"><i class="zmdi zmdi-eye"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column is-full">
                    <div class="card">
                        <span style="color:black" class="price">C$580</span>

                        <img src="/static/img/item-3.png" alt="">
                        <div class="card-info">
                            <h4 class="has-text-black has-text-centered has-text-weight-bold">Sueter Rick and Morty
                                $580 </h4>
                            <p class="has-text-centered">Sueter de Rick and Morty
                                100%
                                cotton.</p>
                            <div class="card-buttons">
                                <a href="#" class="btn btn--mini-rounded"><i class="zmdi zmdi-shopping-cart"></i></a>
                                <a href="#" class="btn btn--mini-rounded"><i class="zmdi zmdi-favorite-outline"></i></a>
                                <a href="/items/2" class="btn btn--mini-rounded"><i class="zmdi zmdi-eye"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Segunda sección de fotografías -->
        <div class="column is-half is-full-mobile">
            <div class="columns is-mobile is-multiline">
                <div class="column is-full">
                    <div class="card">
                        <span style="color:black" class="price"><strike>C$300</strike> C$240</span>
                        <img src="/static/img/item-4.png" alt="">
                        <div class="card-info">
                            <h4 class="has-text-black has-text-centered has-text-weight-bold"> Camiseta de Naruto
                                Shippuden C$240 </h4>
                            <p class="has-text-centered">Camiseta Anime Naruto Shippuden.
                                100%
                                cotton.</p>
                            <div class="card-buttons">
                                <a href="#" class="btn btn--mini-rounded"><i class="zmdi zmdi-shopping-cart"></i></a>
                                <a href="#" class="btn btn--mini-rounded"><i class="zmdi zmdi-favorite-outline"></i></a>
                                <a href="/items/7" class="btn btn--mini-rounded"><i class="zmdi zmdi-eye"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column column-full is-half">
                    <div class="card">
                        <span class="price">C$270</span>
                        <img src="/static/img/item-5.png" alt="">
                        <div class="card-info">
                            <h4 class="has-text-black has-text-centered has-text-weight-bold"> Crop Top Amarillo Planeta C$270 </h4>
                            <p class="has-text-centered">Croptop Casual para dama color amarillo
                                100%
                                cotton.</p>
                            <div class="card-buttons">
                                <a href="#" class="btn btn--mini-rounded"><i class="zmdi zmdi-shopping-cart"></i></a>
                                <a href="#" class="btn btn--mini-rounded"><i class="zmdi zmdi-favorite-outline"></i></a>
                                <a href="/items/4" class="btn btn--mini-rounded"><i class="zmdi zmdi-eye"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column column-full is-half">
                    <div class="card">
                        <span style="color:black" class="price">C$240</span>
                        <img src="/static/img/item-6.png" alt="">
                        <div class="card-info">
                            <h4 class="has-text-black has-text-centered has-text-weight-bold"> Croptop Cereza Fire C$240 </h4>
                            <p class="has-text-centered">Croptop Blanco Cereza fire para dama.
                                100%
                                cotton.</p>
                            <div class="card-buttons">
                                <a href="#" class="btn btn--mini-rounded"><i class="zmdi zmdi-shopping-cart"></i></a>
                                <a href="#" class="btn btn--mini-rounded"><i class="zmdi zmdi-favorite-outline"></i></a>
                                <a href="/items/6" class="btn btn--mini-rounded"><i class="zmdi zmdi-eye"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container container-full">
    <div class="columns is-centered is-multiline">
        <div class="column is-full">
            <div class="separator"></div>
        </div>
        <div class="column is-half-tablet is-one-third-desktop column-half">
            <div class="card card-second">
                <img class="card-second-image" src="/static/img/lookbook-men.png" alt="">
                <div class="card-second-body --text-right">
                    <h1 class="has-text-right is-size-4 has-text-weight-semibold-bold">Catálogo para Hombres</h1>
                    <p class="has-text-right">Encuentra las mejores prendas para hombre con estilos masculinos y juveniles
                    </p>
                    <div>
                        <a href="/items/clasification/1" class="btn btn-default is-size-7">Ver ahora</a>
                    </div>
                    </p>


                </div>
            </div>
        </div>
        <div class="column is-half-tablet is-one-third-desktop column-half">
            <div class="card card-second">
                <img class="card-second-image" src="/static/img/lookbook-women.png" alt="">
                <div class="card-second-body --text-right">
                    <h1 class="has-text-right is-size-4 has-text-weight-semibold-bold">Catálogo para Mujer</h1>
                    <p class="has-text-right">Date tus gustos con las prendas mas fashion del mercado y luce expectacular 
                    </p>
                    <div>
                        <a href="/items/clasification/2" class="btn btn-default is-size-7">Ver ahora</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="column is-half-tablet is-one-third-desktop">
            <div class="card card-second">
                <img class="card-second-image" src="/static/img/lookbook-you.png" alt="">
                <div class="card-second-body --text-right">
                    <h1 class="has-text-right is-size-4 has-text-weight-semibold-bold">Catálogo para Niños</h1>
                    <p class="has-text-right">Compra las prendas mas lindas para consentir a los reyes del hogar
                    </p>
                    <div>
                        <a href="/items/clasification/3" class="btn btn-default is-size-7">Ver ahora</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <div class="columns is-multiline">
            <div class="column">
                <ul class="footer-ul">
                    <li class="footer-item">
                        <h3 class="has-text-weight-bold">Información</h3>
                    </li>
                    <li class="footer-item"><a class="footer-link" href="#">La marca</a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Local stores</a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Servicios </a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Privacidad y cookies</a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Mapa del sitio</a></li>
                </ul>
            </div>

            <div class="column">
                <ul class="footer-ul">
                    <li class="footer-item">
                        <h3 class="has-text-weight-bold">Porqué comprar</h3>
                    </li>
                    <li class="footer-item"><a class="footer-link" href="#">Envios y retornos</a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Envios seguros</a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Testimonios </a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Award waining</a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Etival trading</a></li>
                </ul>
            </div>
            <div class="column">
                <ul class="footer-ul">
                    <li class="footer-item">
                        <h3 class="has-text-weight-bold">Tu cuenta</h3>
                    </li>
                    <li class="footer-item"><a class="footer-link" href="#">Iniciar sesión</a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Registro</a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Ver carrito </a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Ver catálogo</a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Track an order</a></li>
                </ul>
            </div>
            <div class="column">
                <ul class="footer-ul">
                    <li class="footer-item">
                        <h3 class="has-text-weight-bold">Catalogo</h3>
                    </li>
                    <li class="footer-item"><a class="footer-link" href="#">Catálogo para hombres</a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Catálogo para mujeres</a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Ver tu Catalogo </a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Privacidad y cookies</a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Borrar tu catalogo</a></li>
                </ul>
            </div>
            <div class="column">

                <ul class="footer-ul">
                    <li class="footer-item">
                        <h3 class="has-text-weight-bold">Datos de contacto</h3>
                    </li>
                    <li class="footer-item"><a class="footer-link" href="#">Head</a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Catálogo para mujeres</a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Ver tu Catalogo </a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Privacidad y cookies</a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Borrar tu catalogo</a></li>
                </ul>
            </div>
            <div class="column is-full">
                <div class="footer-socials">
                    <a class="footer-solcials-link" href="#"><i class="zmdi zmdi-facebook"></i></a>
                    <a class="footer-solcials-link" href="#"><i class="zmdi zmdi-twitter"></i></a>
                    <a class="footer-solcials-link" href="#"><i class="zmdi zmdi-instagram"></i></a>
                    <a class="footer-solcials-link" href="#"><i class="zmdi zmdi-pinterest"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bar-top">
        <div class="container">
            <a class="footer-bar-top-links" href="#">2021 Personalized Clothing</a>
        </div>
    </div>
</footer>

{% endblock %}