<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='bulma.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='material-design-iconic-font.css')}}">
    <link rel="shortcut icon" type="image/x-icon"
        href="https://res.cloudinary.com/dzlbg8ni6/image/upload/c_scale,h_4000,w_4000/v1639171464/1639107585224_uikadn.png">
    <title>Personalized Clothing</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">


</head>

<body>
    <!-- Barra de navegación -->
    <header>
        {% if username != 'null' %}
        <nav class="navbar-top">
            <ul class="navbar-top-ul">
                <li class="navbar-top-item">
                    <a href="/logout" class="navbar-top-links">Salir</a>
                </li>
                <li class="navbar-top-item">
                    <a href="/items" class="navbar-top-links">¡Comprar Ahora!</a>
                </li>

                <li class="navbar-top-item">
                    <img class="navbar-top-links" style="width: 20px; transform:translateY(5px);"
                        src="https://res.cloudinary.com/dzlbg8ni6/image/upload/v1639114295/round-account-button-with-user-inside_icon-icons.com_72596_xizpvn.png" />
                    <a href="userSettings" class="navbar-top-links">
                        {{username}}
                    </a>
                </li>
            </ul>
        </nav>
        {% elif username == 'null' %}
        <nav class="navbar-top">
            <ul class="navbar-top-ul">
                <li class="navbar-top-item">
                    <a href="/items" class="navbar-top-links">Comprar</a>
                </li>
                <li class="navbar-top-item">
                    <a href="/login" class="navbar-top-links">Iniciar sesion</a>
                </li>
                <li class="navbar-top-item">
                    <a href="/register" class="navbar-top-links">Registrarme</a>
                </li>
            </ul>
        </nav>
        {% endif %}
        <nav class="navbar">
            <header class="nabvar-mobile is-size-5-mobile">
                <a class="navbar-mobile-link has-text-white" href="#" id="btn-mobile"><i class="zmdi zmdi-menu"></i></a>
                <a class="is-hidden-mobile brand is-uppercase has-text-weight-bold has-text-black">Personalized
                    Clothing</a>
                <a class="navbar-mobile-link has-text-white" href="#"><i id="menu-btn"
                        class="zmdi zmdi-shopping-cart"></i> Vacio</a>
            </header>
            <nav class="nav-menu" id="mySidenav">
                <a class="is-hidden-mobile brand is-uppercase has-text-weight-bold has-text-dark" style="width: 40%;"
                    href="/">Personalized
                    Clothing</a>
                <ul class="nav-menu-ul">
                    <li class="nav-menu-item" id="men">
                        <a class="nav-menu-link link-submenu active" href="#">Hombre <i
                                class="zmdi zmdi-chevron-down"></i></a>
                        <div class="container-sub-menu">
                            <ul class="sub-menu-ul">
                                <li class="nav-menu-item ">
                                    <a class="nav-menu-link" href="#">
                                        <strong>Frio</strong>
                                        <i class="zmdi zmdi-chevron-down "></i>
                                    </a>
                                    <ul class="sub-menu-ul">
                                        <li class="nav-menu-item"><a class="nav-menu-link"
                                                href="/items/3/1">Sudaderas</a></li>
                                        <li class="nav-menu-item"><a class="nav-menu-link" href="/items/4/1">Sueters</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="sub-menu-ul">
                                <li class="nav-menu-item ">
                                    <a class="nav-menu-link" href="#">
                                        <strong>Casual</strong>
                                        <i class="zmdi zmdi-chevron-down "></i>
                                    </a>
                                    <ul class="sub-menu-ul">
                                        <li class="nav-menu-item"><a class="nav-menu-link" href="#">Joggers</a></li>
                                        <li class="nav-menu-item"><a class="nav-menu-link"
                                                href="/items/1/1">Camisetas</a></li>
                                    </ul>
                                </li>
                            </ul>

                            <div class="ads is-hidden-touch">
                                <h1 class="ads-h1">Ofertas de Navidad</h1>
                                <h2 class="ads-h2">Desde el 50% de descuento</h2>
                            </div>
                        </div>
                    </li>
                    <li class="nav-menu-item" id="women">
                        <a style="color:black;" href="#" class="nav-menu-link link-submenu">Mujer <i
                                class="zmdi zmdi-chevron-down"></i> </a>
                        <div class="container-sub-menu">

                            <ul class="sub-menu-ul">
                                <li class="nav-menu-item ">
                                    <a class="nav-menu-link" href="#">
                                        <strong>Frio</strong>
                                        <i class="zmdi zmdi-chevron-down "></i>
                                    </a>
                                    <ul class="sub-menu-ul">
                                        <li class="nav-menu-item"><a class="nav-menu-link"
                                                href="/items/2/2">Sudaderas</a></li>
                                        <li class="nav-menu-item"><a class="nav-menu-link" href="/items/4/2">Sueters</a>
                                        </li>
                                        <li class="nav-menu-item"><a class="nav-menu-link" href="/items/3/2">Crops</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="sub-menu-ul">
                                <li class="nav-menu-item ">
                                    <a class="nav-menu-link" href="#">
                                        <strong>Casual</strong>
                                        <i class="zmdi zmdi-chevron-down "></i>
                                    </a>
                                    <ul class="sub-menu-ul">
                                        <li class="nav-menu-item"><a class="nav-menu-link" href="#">Joggers</a></li>
                                        <li class="nav-menu-item"><a class="nav-menu-link"
                                                href="/items/1/2">Camisetas</a></li>
                                        <li class="nav-menu-item"><a class="nav-menu-link" href="/items/4/2">Crop
                                                tops</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="ads is-hidden-touch">
                                <h1 class="ads-h1">Ofertas de Navidad</h1>
                                <h2 class="ads-h2">Desde el 50% de descuento</h2>
                            </div>
                        </div>
                    </li>
                    <li class="nav-menu-item"><a style="color:black;" href="/personalizar" class="nav-menu-link">
                            <img style="margin-top:1px; width: 18px;"
                                src="https://res.cloudinary.com/dzlbg8ni6/image/upload/v1639114295/paintbrush_83820_rycmmh.png" />
                            Personalizar</a></li>
                    <li class="navbar-top-item">
                        <a href="/car" style="color:black;" class="nav-menu-link">
                            <i style="margin: 6px;" class="zmdi zmdi-shopping-cart"></i>Carrito
                        </a>
                    </li>
                    <li class="navbar-top-item">
                        <a href="/buys" style="color:black;" class="nav-menu-link">
                            <img style="margin-top:1px; width: 18px;"
                                src="https://res.cloudinary.com/dzlbg8ni6/image/upload/v1639807491/353439-basket-buy-cart-ecommerce-online-purse-shop-shopping_107515_behlm9.png" />
                            Compras
                            <!-- <i class="zmdi zmdi-chevron-down"></i> -->
                        </a>
                    </li>
                    {% if session.role_user == 1 %}
                    <li class="navbar-top-item"><a style="color:black;" href="/adminOrders" class="nav-menu-link">
                            <img style="margin-top:1px; width: 25px;"
                                src="https://res.cloudinary.com/dzlbg8ni6/image/upload/v1639441128/admin_user_icon_188317_ix052g.png" />
                            Admin</a></li>
                    {% endif %}
                </ul>
            </nav>
        </nav>
    </header>

    {% block body %}
    {% endblock %}
    {% block buysList %}
    {% endblock %}
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="../static/js/index.js"></script>

</body>
<footer class="footer">
    <div class="container">
        <div class="columns is-multiline">
            <div class="column">
                <ul class="footer-ul">
                    <li class="footer-item">
                        <h3 class="has-text-weight-bold">Información</h3>
                    </li>
                    <li class="footer-item"><a class="footer-link" href="#">La marca</a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Local stores</a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Servicios </a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Privacidad y cookies</a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Mapa del sitio</a></li>
                </ul>
            </div>

            <div class="column">
                <ul class="footer-ul">
                    <li class="footer-item">
                        <h3 class="has-text-weight-bold">Porqué comprar</h3>
                    </li>
                    <li class="footer-item"><a class="footer-link" href="#">Envios y retornos</a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Envios seguros</a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Testimonios </a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Award waining</a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Etival trading</a></li>
                </ul>
            </div>
            <div class="column">
                <ul class="footer-ul">
                    <li class="footer-item">
                        <h3 class="has-text-weight-bold">Tu cuenta</h3>
                    </li>
                    <li class="footer-item"><a class="footer-link" href="#">Iniciar sesión</a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Registro</a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Ver carrito </a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Ver catálogo</a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Track an order</a></li>
                </ul>
            </div>
            <div class="column">
                <ul class="footer-ul">
                    <li class="footer-item">
                        <h3 class="has-text-weight-bold">Catalogo</h3>
                    </li>
                    <li class="footer-item"><a class="footer-link" href="#">Catálogo para hombres</a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Catálogo para mujeres</a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Ver tu Catalogo </a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Privacidad y cookies</a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Borrar tu catalogo</a></li>
                </ul>
            </div>
            <div class="column">

                <ul class="footer-ul">
                    <li class="footer-item">
                        <h3 class="has-text-weight-bold">Datos de contacto</h3>
                    </li>
                    <li class="footer-item"><a class="footer-link" href="#">Head</a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Catálogo para mujeres</a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Ver tu Catalogo </a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Privacidad y cookies</a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Borrar tu catalogo</a></li>
                </ul>
            </div>
            <div class="column is-full">
                <div class="footer-socials">
                    <a class="footer-solcials-link" href="https://www.facebook.com/PersonalizedCloth1ng"
                        target="_blank"><i class="zmdi zmdi-facebook"></i></a>
                    <a class="footer-solcials-link" href="#"><i class="zmdi zmdi-twitter"></i></a>
                    <a class="footer-solcials-link" href="https://www.instagram.com/personalizedclothing_/"
                        target="_blank"><i class="zmdi zmdi-instagram"></i></a>
                    <a class="footer-solcials-link" href="#"><i class="zmdi zmdi-pinterest"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bar-top">
        <div class="container">
            <a class="footer-bar-top-links" href="#">2021 Personalized Clothing</a>
        </div>
    </div>
</footer>

</html>