.colors{
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin: 5px;
    padding: 5px;
}

.garment{
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin: 5px;
    padding-top: 5px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 5px;
}

.item-type{
    width: 50%;

}

#Sweater{
    width: 800;
    height: auto;
}

.type-item:hover img{
    opacity: 0.5;
}

.type-item{
    margin:5px;
}

.color-item:hover img{
    opacity: 0.5;
}

#Hoodie{
    width: 800;
    height: auto;
}

#Shirt{
    width: 800;
    height: auto;
}

/*Rotacion de imagen*/
#img_container.rotate90 {
    width: 100px;
    height: 820px
}

#img-preview {
    transform-origin: top left;
    -webkit-transform-origin: top left;
}

#img_container.rotate90 #img-preview {
    transform: rotate(90deg) translateY(-100%);
    -webkit-transform: rotate(90deg) translateY(-100%);
}
  